.cards {
    padding-top: 51px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
  }
  
  @media screen and (max-width: 900px) and (min-width: 601px) {
    
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 600px) {
  
    .cards {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 36px;
      margin: auto;
      justify-items: center;
    }
  }