.popup {
  display: none;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.popup_opened {
  display: flex;
}

.popup__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  z-index: 1;
  width: 430px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;

  width: 330px;
  padding: 34px 36px 54px;

  align-self: flex-start;
}

.popup__form {
  max-width: 358px;
}
.popup__form-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  width: 358px;
  border: none;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
}

.popup__save {
  height: 50px;
  width: 358px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  background-color: black;
  color: white;
  border-radius: 2px;
  margin-top: calc(48px - 30px);
  margin-bottom: 40px;
  padding: 0;
  border: 0;
}

.popup__cancel {
  position: absolute;
  right: -40px;
  top: -40px;
  width: 40px;
  height: 40px;
  background: url(../images/Close-Icon.svg) no-repeat;
  border: none;
  padding: 0;
  margin: 0;
}

.popup__cancel:hover {
  opacity: 60%;
  cursor: pointer;
}

.popup__save:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 600px) {
  .popup__page {
    width: 282px;
  }

  .popup__title {
    width: 238px;
    font-size: 18px;
    line-height: 1.2;
    padding: 25px 22px 76px;
  }

  .popup__form {
    max-width: 238px;
  }
  .popup__form-input {
    width: 238px;
    height: 26px;
  }

  .popup__save {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 1.2;
    margin-top: calc(46px - 30px);
    margin-bottom: 25px;
  }

  .popup__cancel {
    width: 26px;
    height: 26px;
    background: url(../images/Close-IconS.svg) no-repeat;
    right: 0;
  }
}
